{% extends "core/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <main>
        <h1 class="display-1">Donate Tickets</h1>
        <p>In an effort to equitably distribute tickets, you cannot request more than 4 tickets. After you hit submit, if/when tickets become available that match a request, donor and requester will both be sent an email notification that contains each person's respective email address. You may then contact each other and make arrangements to swap your physical tickets. This application was designed by a Blair student to support parents in donating or receiving extra graduation tickets, and is not endorsed or supported by Montgomery Blair High School or Montgomery County Public Schools.</p>
        <!--<form action="{% url 'index' %}" method="post">-->
            {% crispy form %}
        <!--</form>-->
    </main>
</div>

{% endblock content %}