{% extends "core/base.html" %}
{% load static %}
{% block content %}

<main>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 id="title" class="display-1 text-center">Uh Oh!</h1>
            <p class="text-center lead">Something went wrong. This could be because you tried to request more than the allowed number of tickets. If you believe this is a mistake, either try again or contact <a style="color:white;text-decoration: underline;" href="mailto:mbhsgraduation@gmail.com">mbhsgraduation@gmail.com</a>.</p>
        </div>
    </div>
</main>

{% endblock content %}